.button-container {
    display: block;
    margin: 10px;
  }
  
  .action-button {
    width: 100%;
    color: #FFFFFF;
    display: block;
    margin: 5px 0px;
    transition: background-color 0.5s;
  }
  
  .action-button-edit {
    /* background-color: #666666; */
    color: black;
  }
  
  .action-button-edit:hover {
    background-color: #6EB579 !important;
    color: #FFFFFF;
  }
  
  .action-button-generate {
    background-color: #F0C968;
  }
  
  .action-button-generate:hover {
    background-color: #d9b84d !important;
  }