.App {
  display: flex;
  align-items: center;
  background-color: var(--bui-color-background-secondary-medium);
  color: var(--bui-color-text-primary);
  border-color: var(--bui-color-border-subtle);
}

.main-panel {
  background: var(--bui-color-background-primary-strong, #F0F3F9);
  display: flex;
  height: 832px;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
}

.viewer-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.viewer-doc-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
}

.no-doc-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
}

.aside-panel {
  border-radius: var(--rounded-md, 8px);
  background: var(--bui-color-background-primary-subtle, #FFF);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
}


.AiButton {
  background: var(--bui-color-background-interactive-enabled);
  color: var(--bui-color-icon-oninteractive);
  position: absolute;
  right: 8px;
  bottom: 8px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* .panel {
  margin: var(--bl-space-xs) var(--bl-space-md);
  border-radius: var(--bl-radius-lg);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 0px;
} */

/* Define specific colors for each panel */
/* .sidebar-panel {
  padding: var(--bl-space-md);
  border-radius: var(--bl-radius-lg);
  display: flex;
  flex-direction: column;
} */

/* .sidebar-panel .button {
  margin-bottom: var(--bl-space-md);
} */

/* .sidebar-panel .list-item {
  padding: var(--bl-space-sm);
  border-radius: var(--bl-radius-md);
  margin-bottom: var(--bl-space-sm);
  cursor: pointer;
} */

/* .sidebar-panel .list-item.selected {
  background-color: #eceaf0;
  color: #333;
  font-weight: 600;
} */

/* .sidebar-panel .icon-button {
  margin-top: auto;
} */

/* 
.card {
  padding: 2em;
} */

/* .read-the-docs {
  color: #888;
} */

/* .grid-style {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
} */

/* Improved hover styles for interactive elements */
/* .sidebar-panel:hover,
.aside-panel:hover,
.main-panel:hover {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
} */

/* Style for resizing handles */
/* .PanelResizeHandle {
  margin: 0 8px;
  cursor: col-resize;
  background-color: #ccc;
  width: 4px;
  border-radius: 2px;
} */

/* Make the Panel edges rounded to avoid sharp borders */
/* [data-panel] {
  overflow: hidden;
} */

/* #root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
} */

/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} */

/* .logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */